## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
.idea/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## OS
.DS_Store
Thumbs.db

## Environment / secrets
appsettings.*.json
!appsettings.json
